.Collection {   
    width:  280px;
    text-decoration: none; /* Ensure no underline from the link itself */
}

.Collection img {
    width: 100%;
    height: auto;
}

.Collection p {
    text-decoration: none; /* Ensure no underline for the text */
    color: black; /* Inherit the color to maintain consistent styling */
}


.Collection :hover{
    transform: scale(1.05);
    transition: all 0.6s ease-in-out;
}

@media(max-width: 1280px){
    .Collection{
        width:  230px;
        font-size: 14px;
    }
    .Collection img{
        width: 230px;
        height: 320px;
    }
    
}
@media(max-width: 1280px){
    .Collection{
        width:  230;
        font-size: 13px;
    }
    .Collection img{
        width: 230px;
        height: 320px;
    }
    
}
@media(max-width: 1024px){
    .Collection{
        width:  220px;
        font-size: 12px;
    }
    .Collection img{
        width: 220px;
        height: 270px;
    }
    
}
@media(max-width: 800px){
    .Collection{
        width:  200px;
        font-size: 10px;
    }
    .Collection img{
        width: 200px;
        height: 250px;
    }
    
}