.all-products {
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.p-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.p-wrapper a {
    color: #171717;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    width: 400px;
}

.linkbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #bec1c6;
    border-radius: 20px;
    text-align: center;
}

.all-products h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.all-products hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    border: none;
}

.collection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px;
    gap: 30px;
}

.create-candle-link {
    text-align: center;
    margin: 50px 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.create-candle-link h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.create-candle-link button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
}

.create-candle-link button:hover {
    background-color: #444;
}

@media(max-width: 1280px) {
    .collection {
        grid-template-columns: repeat(3, 1fr);
        margin: 20px 100px;
        gap: 20px;
    }

    .all-products {
        height: auto;
        margin: 20px 100px;
    }

    .all-products h1 {
        font-size: 40px;
    }

    .all-products hr {
        width: 200px;
        height: 6px;
    }

    .p-wrapper a {
        font-size: 18px;
    }

    .linkbar {
        height: 60px;
    }
}

@media(max-width: 1024px) {
    .collection {
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 50px;
    }

    .all-products {
        height: auto;
        margin: 20px 50px;
    }

    .all-products h1 {
        font-size: 40px;
    }

    .all-products hr {
        width: 200px;
        height: 6px;
    }

    .p-wrapper a {
        font-size: 18px;
    }
}

@media(max-width: 800px) {
    .collection {
        grid-template-columns: 1fr;
        margin: 20px 50px;
    }

    .all-products {
        height: auto;
        margin: 0px;
    }

    .all-products h1 {
        font-size: 35px;
    }

    .all-products hr {
        width: 150px;
        height: 4px;
    }

    .p-wrapper a {
        font-size: 16px;
    }
}

@media(max-width: 500px) {
    .collection {
        grid-template-columns: 1fr;
        margin: 20px 30px;
    }

    .all-products {
        height: auto;
        margin: 40px 30px;
    }

    .all-products h1 {
        font-size: 30px;
    }

    .all-products hr {
        width: 150px;
        height: 4px;
    }

    .p-wrapper a {
        font-size: 14px;
    }
}
