.all-products {
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.p-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.p-wrapper a {
    color: #171717;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}

.linkbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #bec1c6;
    border-radius: 20px;
    text-align: center;
}

.all-products h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.all-products hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 50px;
    gap: 30px;
}

@media(max-width: 1280px) {
    .collection {
        margin: 20px 100px;
        gap: 20px;
    }

    .all-products {
        height: auto;
        margin: 20px 100px;
    }

    .all-products h1 {
        font-size: 40px;
    }

    .all-products hr {
        width: 200px;
        height: 6px;
    }

    .p-wrapper p {
        font-size: 18px;
    }

    .linkbar {
        width: 100%;
        height: 60px;
    }
}

@media(max-width: 1024px) {
    .all-products {
        height: auto;
        margin: 20px 50px;
    }

    .collection {
        margin: 20px 50px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .all-products h1 {
        font-size: 40px;
    }

    .all-products hr {
        width: 200px;
        height: 6px;
    }

    .p-wrapper p {
        font-size: 18px;
    }
}

@media(max-width: 800px) {
    .all-products {
        height: auto;
        margin: 0px;
    }

    .collection {
        margin: 20px 50px;
        padding: 0px;
        grid-template-columns: 1fr 1fr;
    }

    .all-products h1 {
        font-size: 35px;
    }

    .all-products hr {
        width: 150px;
        height: 4px;
    }

    .p-wrapper p {
        font-size: 16px;
    }
}

@media(max-width: 500px) {
    .all-products {
        height: auto;
        margin: 40px 30px;
    }

    .collection {
        grid-template-columns: 1fr;
    }

    .all-products h1 {
        font-size: 30px;
    }

    .all-products hr {
        width: 150px;
        height: 4px;
    }

    .p-wrapper p {
        font-size: 14px;
    }
}
