.all-products {
    height: 350vh;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.p-wrapper {
    width: 73%; /* Ensure the wrapper takes the full width */
    display: flex;
    justify-content:flex-start; /* Align items to the start (left) */
}

.p-wrapper p {
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}

.all-products h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.all-products hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 50px;
    gap: 30px;
}
@media(max-width: 1280px) {
    .collection {
        margin: 20px 100px;
        gap: 20px;
    }
    .all-products {
        height: 230vh;
        margin: 20px 100px;
    }
    .all-products h1 {
        font-size: 40px;
    }
    .all-products hr {
        width: 200px;
        height: 6px;
    }
    .p-wrapper p {
        font-size: 18px;
    }
}
@media(max-width: 1024px) {
    .all-products{
        height: 200vh;
        margin: 20px 50px;
    }
    .collection {
        margin: 20px 50px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .all-products h1 {
        font-size: 40px;
    }
    .all-products hr {
        width: 200px;
        height: 6px;
    }
    .p-wrapper p {
        font-size: 18px;
    }
}
@media(max-width: 800px) {
    .all-products{
        height: 255vh;
        margin: 20px 50px;
    }
    .collection {
        margin: 20px 50px;
        padding: 0px;
        grid-template-columns: 1fr 1fr;
    }
    .all-products h1 {
        font-size: 35px;
    }
    .all-products hr {
        width: 150px;
        height: 4px;
    }
    .p-wrapper p {
        font-size: 16px;
    }
}
@media(max-width: 500px) {
    .all-products{
        height: 420vh;
        margin: 40px 30px;
    }
    .collection {
        grid-template-columns: 1fr;
    }
    .all-products h1 {
        font-size: 30px;
    }
    .all-products hr {
        width: 150px;
        height: 4px;
    }
    .p-wrapper p {
        font-size: 14px;
    }
}
