/* WelcomeBanner.css */

.welcomebanner {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.slideshow {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  background: rgba(0, 0, 0, 0.5);
}

.slideshow img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slideshow img.active {
  opacity: 1;
}

.dots {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: white;
}

.welcome-message {
  padding: 20px;
  position: relative;
  z-index: 1;
  color: white;
  text-align: left;
  white-space: pre-wrap;
  overflow: hidden;
  max-width: 90%;
}

.welcome-message.typing::after {
  content: ""; /* Adds the blinking caret */
  display: inline-block;
  width: 4px; /* Adjust width for the caret */
  height: 1.2em; /* Matches the height of text */
  background-color: white; /* Caret color */
  margin-left: 5px;
  animation: blink-caret 0.7s step-end infinite; /* Blinking effect */
}

.welcome-message h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4vw; /* Adjusted for responsiveness */
  color: black;
  margin: 0;
}

@keyframes blink-caret {
  from, to {
    background-color: transparent; /* Caret is invisible */
  }
  50% {
    background-color: white; /* Caret is visible */
  }
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
  .welcome-message h1 {
    font-size: 5vw;
  }

  .welcome-message div {
    font-size: 2.5vw;
    padding-left: 5px;
  }

  .welcome-message button {
    font-size: 1.5vw;
  }
}

@media (max-width: 768px) {
  .welcomebanner {
    height: 80vh;
  }

  .welcome-message h1 {
    font-size: 6vw;
  }

  .welcome-message div {
    font-size: 3vw;
    padding-left: 2px;
  }

  .welcome-message button {
    font-size: 2vw;
  }
}

@media (max-width: 480px) {
  .welcomebanner {
    height: 70vh;
  }

  .welcome-message h1 {
    font-size: 8vw;
  }

  .welcome-message div {
    font-size: 4vw;
    padding-left: 1px;
  }

  .welcome-message button {
    font-size: 2.5vw;
  }
}
