.navbar {
    box-shadow: 0 1px 3px -2px black;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p {
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}
.nav-logo img {
    width: 150px;
    height: auto;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu li a {
    color: black; /* Set the text color to black */
    text-decoration: none; /* Remove underline from links */
}
.nav-menu li a:hover {
    color: #333; /* Optional: Darken the color on hover */
}
.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: red;
}
.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button {
    padding: 10px 20px;
    border: none;
    border-radius: 75px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.nav-login-cart button:active {
    transform: scale(0.95);
}
.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background-color: red;
    color: #fff;
}
.nav-login-cart img {
    width: 70px;
    height: auto;
}
.nav-dropdown {
    display: none;
}
@media(max-width: 1280px) {
    .navbar {
        padding: 12px 50px;
    }
    .nav-logo img{
        width: 100px;
    }
    .nav-logo p{
        font-size: 25px;
    }
    .nav-menu {
        font-size: 16px;
        gap: 30px;
    }
    .nav-login-cart {
        gap: 30px;

    }
    .nav-login-cart button {
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }
}
@media(max-width: 1024px) {
    .navbar {
        padding: 12px 30px;
    }
    .nav-menu {
        font-size: 14px;
        gap: 25px;
    }
    .nav-login-cart button {
        width: 80px;
        height: 35px;
        font-size: 14px;
    }
    .nav-login-cart img{
        width: 30px;
    }
    .nav-cart-count{
        width: 18px;
        height: 18px;
    }
}
@media(max-width: 800px) {
    .navbar {
        padding: 10px 0px;
    }

    .nav-dropdown {
        display: block;
        width: 30px;
        height: 30px;
        rotate: -90deg;
        transition: 0.5s;
    }

    .nav-menu {
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        background: white;
        justify-content: center;
        top: 120px;
    }

    .nav-menu-visible {
        display: flex;
    }

    .nav-dropdown.open {
        transform: rotate(90deg);
    }
}
@media(max-width: 500px) {
    .navbar{
        padding: 8px 0px;
        gap: 0px;
    }
    .nav-logo{
        transform: scale(0.8);
    }
    .nav-menu {
        height: 70px;
        top:120px;
    }
    .nav-login-cart button {
        width: 70px;
        height: 30px;
        font-size: 12px;
    }
    .nav-login-cart{
        transform: scale(0.8);
    }
    .nav-cart-count{
        width: 15px;
        height: 15px;
        font-size: 10px;
    }
}