.popular {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 80vh;
}

.popular h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.popular-item {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    display: grid;
    gap: 30px;
}

@media(max-width: 1024px) {
    .popular{
        height: 90vh;
    }
    .popular h1 {
        font-size: 40px;
    }
    .popular-item {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 800px) {
    .popular{
        height: 90vh;
    }
    .popular h1 {
        font-size: 35px;
    }
    .popular-item {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 500px) {
    .popular{
        height: 150vh;
    }
    .popular h1 {
        font-size: 30px;
    }
    .popular-item {
        grid-template-columns: 1fr;
    }
}
