.productdisplay{
    display: flex;
    margin: 0px, 170px;
    padding-left: 100px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.productdisplay-img-list img{
    height: 163px;
}
.productdisplay-main-img{
    width: 586px;
    height: 700px;
    object-fit: cover;
}
.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;

}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin: 13px 0px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productdisplay-right-star img{
    width: 20px;
 }

.productdisplay-right-prices{
    display: flex;
    gap: 30px;
    margin: 40px 0px;
    font-size: 24px;
    font-weight: 700;
}

.productdisplay-right-feature h1{
    margin-top: 10px;
    color:#656565;
    font-size: 20px;
    font-weight: 600;
}
.productdisplay-right-options{
    display: flex;
    gap: 20px;
    margin: 10px 0px;
}
.productdisplay-right-options div{
    padding: 18px 24px;
    background: #fbfbfb;
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #ebebeb;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    border: none;
    background: black;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
    outline: none;
    cursor: pointer;
}
.productdisplay-right-category{
    margin-top: 10px;

}
.productdisplay-right-category span{
    font-weight: 600;
}
.option:hover {
    background-color: #f0f0f0;
}

.option.selected {
    background-color: black;
    color: white;
}
@media(max-width: 1280px){
    .productdisplay{
        padding-left: 50px;
    }
    .productdisplay-left{
        gap: 10px;
    }
    .productdisplay-img-list img{
        height: 100px;
    }
    .productdisplay-main-img{
        width: 400px;
        height: 500px;
    }
    .productdisplay-right{
        margin: 0px 50px;
    }
    .productdisplay-right h1{
        font-size: 30px;
    }
    .productdisplay-right-star{
        font-size: 14px;
    }
    .productdisplay-right-prices{
        font-size: 20px;
    }
    .productdisplay-right-feature h1{
        font-size: 16px;
    }
    .productdisplay-right-options div{
        padding: 15px 20px;
    }
    .productdisplay-right button{
        padding: 15px 30px;
        font-size: 14px;
    }
    .productdisplay-right-category span{
        font-size: 14px;
    }
}
@media(max-width: 1024px){
    .productdisplay{
        padding-left: 30px;
    }
    .productdisplay-left{
        gap: 10px;
    }
    .productdisplay-img-list img{
        height: 100px;
    }
    .productdisplay-main-img{
        width: 300px;
        height: 400px;
    }
    .productdisplay-right{
        margin: 0px 30px;
    }
    .productdisplay-right h1{
        font-size: 25px;
    }
    .productdisplay-right-star{
        font-size: 12px;
    }
    .productdisplay-right-prices{
        font-size: 18px;
    }
    .productdisplay-right-feature h1{
        font-size: 14px;
    }
    .productdisplay-right-options div{
        padding: 10px 15px;
    }
    .productdisplay-right button{
        padding: 10px 20px;
        font-size: 12px;
    }
    .productdisplay-right-category span{
        font-size: 12px;
    }
}
@media(max-width: 800px){
    .productdisplay{
        padding-left: 20px;
    }
    .productdisplay-left{
        gap: 10px;
    }
    .productdisplay-img-list img{
        height: 100px;
    }
    .productdisplay-main-img{
        width: 200px;
        height: 300px;
    }
    .productdisplay-right{
        margin: 0px 20px;
    }
    .productdisplay-right h1{
        font-size: 20px;
    }
    .productdisplay-right-star{
        font-size: 10px;
    }
    .productdisplay-right-prices{
        font-size: 16px;
    }
    .productdisplay-right-feature h1{
        font-size: 12px;
    }
    .productdisplay-right-options div{
        padding: 8px 10px;
    }
    .productdisplay-right button{
        padding: 8px 15px;
        font-size: 10px;
    }
    .productdisplay-right-category span{
        font-size: 10px;
    }
}
@media(max-width: 500px){
    .productdisplay{
        padding-left: 10px;
    }
    .productdisplay-left{
        flex-direction: column;
        gap: 10px;
    }
    .productdisplay-img-list img{
        height: 50px;
        width: 50px;
    }
    .productdisplay-main-img{
        width: 200px;
        height: 250px;
    }
    .productdisplay-right{
        width: 200px;
        margin: 0px 10px;
    }
    .productdisplay-right h1{
        font-size: 18px;
    }
    .productdisplay-right-star{
        font-size: 8px;
    }
    .productdisplay-right-star img{
        width: 15px;
    }
    .productdisplay-right-description{
        font-size: 14px;
    }
    .productdisplay-right-prices{
        font-size: 14px;
    }
    .productdisplay-right-feature h1{
        font-size: 14px;
    }
    .productdisplay-right-options{
        flex-direction: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr;
    }
    .productdisplay-right-options div{
        width: 80px;
        height: 20px;
        font-size: 8px;
        padding: 6px 8px;
    }
    .productdisplay-right button{
        padding: 6px 10px;
        font-size: 8px;
    }
    .productdisplay-right-category{
        font-size: 8px;
    }
    .descriptionbox-navigator{
        font-size: 18px;
        font-weight: 500;
        gap: 10px;
    }
}